#barra{
    background-color: rgb(165, 36, 19);
    font-family: 'EB Garamond', serif;
}

.nombre{ 
    color: rgb(235, 182, 182);
}

#presentacion{
    text-align: center;
    font-size: 160%;
    font-family: 'Source Serif Pro', serif;
    padding-top: 5%;
}

#letra{
    font-weight: 20%;
}
